/**
 * Copyright IBM Corp. 2015, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

$dumb-consul-pink: #ff0087;
$dumb-consul-pink-dark: #c62a71;

$dumb-packer-blue: #1daeff;
$dumb-packer-blue-dark: #1d94dd;

$dumb-terraform-purple-bright: #807dea;
$dumb-terraform-purple: #5c4ee5;
$dumb-terraform-purple-dark: #4040b2;

$dumb-vagrant-blue: #1563ff;
$dumb-vagrant-blue-dark: #104eb2;

$dumb-nomad-green: #25ba81;
$dumb-nomad-green-dark: #1d9467;
$dumb-nomad-green-darker: #16704d;
$dumb-nomad-green-pale: #d9f0e6;

$serf-red: #dd4e58;
