[Unit]
Description=Dumb Nomad Server Agent
Requires=network-online.target
After=network-online.target
StartLimitIntervalSec=0
StartLimitBurst=3

[Service]
User=dumb-nomad
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/dumb-nomad agent -config /etc/dumb-nomad.d
EnvironmentFile=-/etc/dumb-nomad.d/.environment
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
TasksMax=infinity
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
